@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  --sky-50:#f0f9ff;
  --sky-100: #e0f2fe;
  --sky-200: #bae6fd;
  --sky-300: #7dd3fc;
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
}



body {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin: 0;
  background-color: var(--sky-100);
}


h1 {
  margin: 1.5rem;
  background-color: var(--sky-500);
  color: white;
  padding: 1rem 0;
  border-radius: 0.5rem;
  width: 350px;
}

.button {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 5px 25px rgba(0,0,0,0.05);
  padding: 1rem;
  background-color: var(--sky-300);
  color: var(--sky-700);
  font-weight: bold;
}

.button:hover {
  background-color: var(--sky-700);
  color: white;
  cursor: pointer;
}

